/*@import url('https://fonts.googleapis.com/css?family="Open Sans":400italic,700italic,400,700');*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/s/inc/css/opensans.eot');
  src: local('Open Sans'), local('OpenSans'), url('/s/inc/css/opensans.ttf') format('truetype');
}

/* Raymii.org Custom */

.topheader {
  color: black;
  text-decoration: none;
}
.green-block {
  background-color: #75cc00;
  display: block;
  border-color: transparent;
  color: #ffffff;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.headheader a, a:hover {
  color: 000;
  }

.green-block a, a:hover {
  color: white;
}

.green-block a:hover {
  color: white;
}

.homepage-blocks img {
  margin-left: 20px;
  margin-bottom: 20px;
}

.base-div {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  position: absolute;
  width: 80%;
  height: 100%;
  /*background-color:rgba(255,255,255,0.9);*/
  
}

.fp-link a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 20px;
}

.fp-link a:hover {
  color: white;
}

.fp-green {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #75CC00;
  background-color: #75CC00;
  padding-top: 20px;
  padding-left:20px;
  padding-right:20px;
  font-size: 20px;  
  margin: 10px;

}

.fp-purple {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #7400E4;
  background-color: #7400E4;
  padding: 20px;
  font-size: 20px;  
  margin: 10px;
}


.fp-yellow {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #E4DB0F;
  background-color: #E4DB0F;
  padding: 20px;
  font-size: 20px;  
  margin: 10px;
}

.fp-red {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #C50000;
  background-color: #C50000;
  padding: 20px;
  font-size: 20px;  
  margin: 10px;
}

.fp-blue {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #4D99E0;
  background-color: #4D99E0;
  padding: 20px;
  font-size: 20px;  
  margin: 10px;
}

.fp-pink {
  color: #ffffff;
  height: 120px;
  display: inline-block;
  width: 120px;
  border: 1px solid #E4247E;
  background-color: #E4247E;
  padding: 20px;
  font-size: 20px;  
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  padding-top: 10px;
  font-family: inherit;
  font-weight: 300;
  line-height: 20px;
  color: #080808;
  text-rendering: optimizelegibility;
}

h2 {
  font-size:26px
}

a {
  /* color: #007fff; */
  color: #75cc00;
  /*color: #3fb618;*/
  text-decoration: none;
}

a:hover {
  /* color: #0066cc; */
  color: #6BBD00;
  /*color: #227608; */
  text-decoration: underline;
}

.breadcrumb {
  background-color: #dfdfdf;
}

.nav-stacked {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.nav-pills  > li > a:hover {
  background-color: #000000;
  color: #ffffff;
}

.nav-pills  > li > a {
  background-color: #dfdfdf;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000000;
}

body {
  /* background: url('/inc/img/background.png'); */
  margin: 0;
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  background-color: #ffffff;
}

.blogsmall {
  color: 000;
}

.blogh3 > h3 {
  font-size: 20px;
}
/* End Raymii.org Custom */


