@font-face {
    font-family: 'Raleway';
    font-style:normal;
    font-weight: normal;
    src: url('/s/inc/css/raleway.eot');
    src: local('Raleway'), local('Raleway'), url('/s/inc/css/raleway.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style:normal;
    font-weight: normal;
    src: url('/s/inc/css/opensans.eot');
    src: local('Open Sans'), local('Open Sans'), url('/s/inc/css/opensans.ttf') format('truetype');
}

/* For chrome on windows :( */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'Open Sans';
      src: url('/s/inc/css/opensans.svg') format('svg');
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'Raleway';
      src: url('/s/inc/css/raleway.svg') format('svg');
  }
}
.topheader {
    color: black;
    font-family: 'Raleway';
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    padding-top: 10px;
    font-family: inherit;
    font-weight: 300;
    line-height: 20px;
    color: #080808;
    text-rendering: optimizelegibility;
}
h2 {
    font-size: 26px;
}
a {
    color: #75cc00;
    text-decoration: none;
}
a:hover {
    color: #6BBD00;
    text-decoration: underline;
}
.breadcrumb {
    background-color: #f5f5f5;
}
.nav-stacked {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-pills>li>a:hover {
    background-color: #000;
    color: #fff;
}
.nav-pills>li>a {
    background-color: #f5f5f5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
}
body {
    margin: 0;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
}
.blogsmall {
    color: 000;
}
.blogh3>h3 {
    font-size: 20px;
}
.headheader  {
    font-family:  "Raleway" !important;
}
.headheader a {
    color: #000;
}
@media screen and (max-width: 700px)  {
    .menu  {
        display:  none !important;
    }
}
.max-200  {
	 max-width: 220px;
}
.well-none  {
	background:  none !important;
	border:  none !important;
	box-shadow:  none;
	webkit-box-shadow:  none;
	padding:  0px !important;
	margin-bottom:  0 !important;
}
