<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <?xml-stylesheet href="/s/inc/rss.xsl" type="text/xsl"?>
    <rss version="2.0"  xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>RSS feed for tag acl on Raymii.org</title> 
            <link>https://raymii.org/s/tags/acl.xml</link> 
            <description>RSS feed for tag acl on Raymii.org</description>
            <atom:link href="https://raymii.org/s/tags/acl.xml" rel="self" type="application/rss+xml" />
    
            <item>
                <title>haproxy: restrict specific URLs to specific IP addresses</title> 
                <link>https://raymii.org/s/snippets/haproxy_restrict_specific_urls_to_specific_ip_addresses.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/snippets/haproxy_restrict_specific_urls_to_specific_ip_addresses.html</guid>
                <description>This snippet shows you how to use haproxy to restrict certain URLs to certain IP addresses. For example, to make sure your admin interface can only be accessed from your company IP address. It also includes an example to prompt for a password if the visitor is from a different network.</description> 
                <pubDate>Sun, 04 Mar 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 04 Mar 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
        </channel>
    </rss>
    
    