<?xml version="1.0" ?>
    <rss version="2.0"  xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>RSS feed for tag server on Raymii.org</title> 
            <link>https://raymii.org/s/tags/server.xml</link> 
            <description>RSS feed for tag server on Raymii.org</description>
            <atom:link href="https://raymii.org/s/tags/server.xml" rel="self" type="application/rss+xml" />
    
            <item>
                <title>Site updates, new font for better contrast and other small CSS fixes</title> 
                <link>https://raymii.org/s/blog/Site_updates_new_font_for_better_contrast.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/blog/Site_updates_new_font_for_better_contrast.html</guid>
                <description>New year, time for some site updates. This site is generated with my self-written open source static site generator named ingsoc (named after 1984) and this update is a collection of  small improvements. A new font, internal code updates to the generator and a few CSS fixes here and there. This article goes over all of them including screenshots before and after!</description> 
                <pubDate>Tue, 12 Jan 2021 00:00:00 GMT</pubDate>
                <lastBuildDate>Tue, 12 Jan 2021 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>What does raymii.org cost to run?</title> 
                <link>https://raymii.org/s/blog/Costs_to_run_raymii.org.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/blog/Costs_to_run_raymii.org.html</guid>
                <description>Inspired by recent articles from Kev Quirk, Horst Gutmann and Jan-Lukas where they do a cost breakdown of their sites, I decided to do one as well. Kev is around USD 30, Horst is around USD 13 and Jan-Lukas is around 5 USD. Their breakdowns are interesting, from specific wordpress plugins to CDN or DNS costs. I don't have those, but I do have a multitude of small servers running this site, which add up to around USD 20, adding up two domain names gives me around USD 22 per month. It could be a lot cheaper, I only need one server for the gigantuous amounts of static HTML this site consists of, but I do have around 10.000 unique visitors each day, so having redundancy is nice. If I would go all cheap, this site would cost me no more than 2 USD a month including the domain name, but that would take the fun out of it. This article features a list of similar, how much does my site cost articles and a cost breakdown of this site.</description> 
                <pubDate>Sun, 27 Sep 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 27 Sep 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Installing PyGopherd on Ubuntu 20.04</title> 
                <link>https://raymii.org/s/tutorials/Installing_PyGopherd_on_Ubuntu_20.04.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/Installing_PyGopherd_on_Ubuntu_20.04.html</guid>
                <description>Ubuntu 20.04 dropped the Pygopherd package. There is no way to install it from the official repositories. In this guide I'll show you two ways to install the version from Ubuntu 18.04, which still works perfectly on 20.04. Either via just downloading the 2 deb packages, or via `apt pinning` from the previous (18.04) repository.</description> 
                <pubDate>Sat, 04 Jul 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Sat, 04 Jul 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Personal Wireguard VPN on a Freedombox with Debian</title> 
                <link>https://raymii.org/s/tutorials/Wireguard_VPN_on_Freedombox.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/Wireguard_VPN_on_Freedombox.html</guid>
                <description>This guide will show you how to set up a personal Wireguard VPN server on Debian or Ubuntu with Freedombox. Freedombox will be used to manage the VPN software, firewall and users. Wireguard is a relatively new VPN built in to the linux kernel. Freedombox is a long running project under the Debian umbrella providing a private server for non experts with focus on user freedom, ease of use and privacy. Combined, those two make a great pair. In the past I've written many articles on how to setup your own personal VPN server, but those all required manual setup and maintenance. With freedombox, the updates are automatic and the management is hidden away behind a convenient web interface. </description> 
                <pubDate>Mon, 03 Feb 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Mon, 03 Feb 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Installing Freedombox on Armbian on the Olimex Pioneer</title> 
                <link>https://raymii.org/s/tutorials/Installing_Freedombox_On_Armbian_On_The_Olimex_A20_Pioneer.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/Installing_Freedombox_On_Armbian_On_The_Olimex_A20_Pioneer.html</guid>
                <description>FreedomBox is a private server for non-experts: it lets you install and configure server applications with only a few clicks. It runs on cheap hardware of your choice, uses your internet connection and power, and is under your control. Last year the Pioneer became available, officially supported and sanctioned by the Freedombox Foundation. This is a home server you can buy from Olimex, comes in a nice metal case with a proper power supply, network cable, battery and SD card preloaded with Freedombox. Plug in and go. Perfect for users that don't want to tinker but do want their freedom and control. With the Pioneer, both the hardware and software are fully open source. In the default provided distribution for the Pioneer there are a few things I dislike. This guide covers the installation of Freedombox and Debian for the Olimex A20 Lime2 Pioneer with Armbian including reinstalling, Apache SSL certificate and LDAP issues.</description> 
                <pubDate>Wed, 29 Jan 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 29 Jan 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Windows 10 updates with PowerShell</title> 
                <link>https://raymii.org/s/blog/Windows_10_Updates_with_PowerShell_PSWindowsUpdpate.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/blog/Windows_10_Updates_with_PowerShell_PSWindowsUpdpate.html</guid>
                <description>Recently I had issues updating one of my machines that runs Windows 10. Turns out the firewall was to restrictive. However, the information provided by the update dialog was just, 'Oh, updating failed, maybe try again'. Nothing useful, so I tried to figure out if it's possible to use Powershell for updating. Since Windows 10 build 1709 Microsoft provides a built in module, but that is not that user friendly. In this article I'll talk about using PSWindowsUpdate and the built in Microsoft WindowsUpdateProvider to update a Windows 10 machine via the commandline</description> 
                <pubDate>Mon, 06 Jan 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Mon, 06 Jan 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Site updates, new layout</title> 
                <link>https://raymii.org/s/blog/Site_updated_new_2019_layout.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/blog/Site_updated_new_2019_layout.html</guid>
                <description>This site is generated with my self-written open source static site generator named ingsoc (named after 1984). I've updated the layout of the website to be less cluttered, allowing you to get to the content much faster. Inspired by my recent gopher adventures I decided to do away with the 2 column layout (drop the sidebar with menu) and have a smaller header with essential links. On mobile this makes a huge difference in scrolling, on the desktop it looks less cluttered. This article details all the changes with side by side images showing differences.</description> 
                <pubDate>Wed, 08 May 2019 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 08 May 2019 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Site updates, raymii.org now also available on Gopher</title> 
                <link>https://raymii.org/s/blog/Site_updates_raymii.org_now_on_gopher.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/blog/Site_updates_raymii.org_now_on_gopher.html</guid>
                <description>I've made some new improvements to this website, you can now view raymii.org on Gopher! Building on the last site improvement, every article being available as plain text, it was easy to generate a gophermap file and bind it all together with pygopherd.</description> 
                <pubDate>Sun, 10 Mar 2019 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 10 Mar 2019 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>SSH on Windows Server 2019 (including how to sudo)</title> 
                <link>https://raymii.org/s/tutorials/SSH_on_Windows_Server_2019.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/SSH_on_Windows_Server_2019.html</guid>
                <description>On hackernews I saw a Microsoft blog post stating that Windows Server 2019 now includes OpenSSH. In this post I'll try out both the client and server on a Windows 2019 server, including how to login as a Active Directory Domain user and how to generate and place and SSH keypair. The bonus this time is how to elevate permissions via SSH on Windows, sudo but way more complicated. This guide is also applicable on Windows 10, build 1809 and up.</description> 
                <pubDate>Tue, 18 Dec 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Tue, 18 Dec 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Use Ubuntu behind a Microsoft ForeFront TMG proxy with cntlm</title> 
                <link>https://raymii.org/s/tutorials/Use_Ubuntu_behind_a_Microsoft_ForeFront_TMG_proxy_with_cntlm.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/Use_Ubuntu_behind_a_Microsoft_ForeFront_TMG_proxy_with_cntlm.html</guid>
                <description>Recently I had to deploy a few machines in a network where outgoing network access was forced through a Microsoft Forefront TMG proxy. For all the Windows clients this went automatically due to domain policies, for Linux this has to be set up manually. Defining the proxy in /etc/environment was not enough since NTML authentication is required, which is not supported by default. I found cntlm, a piece of software which acts as a local proxy, translating all requests to authenticated NTLM requests to your upstream proxy. This guide covers the (offline) installation, setup, getting the correct password hash and system-wide configuration. It should work on a desktop as well, but I did not test that.</description> 
                <pubDate>Sat, 27 Oct 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Sat, 27 Oct 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Windows 7 installer on a KVM Linux VPS (Windows on Digital Ocean)</title> 
                <link>https://raymii.org/s/tutorials/Windows_7_Installer_on_KVM_Linux_VPS_Digital_Ocean.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/tutorials/Windows_7_Installer_on_KVM_Linux_VPS_Digital_Ocean.html</guid>
                <description>For fun I wanted to install Windows 7 on a KVM Linux VPS (on [Digital Ocean) but it should work for any KVM or XEN-HVM VPS with console access). I was experimenting with Grub2 and ISO booting, since grub2 can natively boot a linux ISO. For Windows this is not possible, the installer needs to be extracted on a FAT32 partition from which you boot. On a normal system I would repartition the disk using a live CD, but on a VPS where an ISO cannot be booted this is troublesome. If I could boot from an ISO I would use that to install Windows, but where's the fun in that? I had to figure out how to shrink an EXT4 filesystem from a running Ubuntu VPS, which is possible, however very risky, with pivot_root. Next the partiton table can be converted to MBR, the partition can be resized, a FAT32 partiton and filesystem can be created, the Windows Installer files copied onto that, some Grub config and a reboot later, you're in the Windows 7 Installer.</description> 
                <pubDate>Sun, 01 Jul 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 01 Jul 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>NGINX: Catch all error codes</title> 
                <link>https://raymii.org/s/snippets/NGINX_Catch_all_error_codes.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/snippets/NGINX_Catch_all_error_codes.html</guid>
                <description>This little nginx config snippet shows you how to catch all error codes and show a single unified error page.</description> 
                <pubDate>Wed, 13 Mar 2013 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 13 Mar 2013 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>NGINX: Hide / Block .git and .svn folders</title> 
                <link>https://raymii.org/s/snippets/NGINX_Block_access_to_.git_or_.svn_project_folders.html?utm_medium=rss&amp;utm_source=raymii&amp;utm_campaign=tagrss</link> 
                <guid>https://raymii.org/s/snippets/NGINX_Block_access_to_.git_or_.svn_project_folders.html</guid>
                <description>This little nginx config snippets helps you prohibit access to .git or .svn folders in nginx</description> 
                <pubDate>Wed, 13 Mar 2013 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 13 Mar 2013 00:00:00 GMT</lastBuildDate>
            </item>
    
        </channel>
    </rss>
    
    